minio
boto3
emails
pandas
cchardet
papermill
plotly
plotly_express
kaleido
ipykernel
nbconvert
GitPython
table-schema-to-markdown==0.4.6
frictionless==4.25.1
jsonschema
Unidecode==1.3.2
requests
PyYAML
